server:
  port: ${PORT:9080}
  domain: http://127.0.0.1:9080

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB:pighand_aio}?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
    username: ${DB_USER}
    password: ${DB_PWD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      web-stat-filter:
        enabled: true
        url-pattern: /*
        exclusions: "*.gif,*.png,*.jpg,*.html,*.js,*.css,*.ico,/druid/*"
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        reset-enable: true
        login-username: admin
        login-password: ${DRUID_PWD:123456}
      filter:
        slf4j:
          enabled: true
          statement-log-enabled: false
          connection-log-enabled: false
          result-set-log-enabled: true
          statement-executable-sql-log-enable: true
    redis:
      database: 0
      host: 127.0.0.1
      port: 6379
      password:
      jedis:
        pool:
          max-active: 20
          max-wait: 0
          max-idle: 5
          min-idle: 1
#      timeout: 100000

upload:
  path: /Users/wangshuli/Downloads

pay:
  notify-url: https://mac.frp.pighand.com/order/notify/