@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --p-color-primary: var(--primary);
    --p-color-background: #f6f8fada;
    --p-color-white: #f8f9fa;
    --p-color-dark: var(--neutral);
    --p-color-regular: var(--regular);
    --p-color-danger: var(--danger);

    --el-text-color-primary: var(--p-color-dark) !important;
    --el-menu-bg-color: transparent !important;
    --el-menu-hover-bg-color: transparent !important;
    --el-menu-item-height: 48px !important;
    --el-menu-active-color: var(--p-color-white) !important;
}

/* -- 按钮点击效果 -- */
.el-button {
    transition: transform 0.2s ease;
}

.el-button:active {
    transform: scale(0.95);
}
/* -- 按钮点击效果 -- */

html,
body {
    width: 100vw;
    height: 100vh;

    margin: 0;
}


/* -- 全局样式 -- */
.global-container {
    border-radius: 8px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
}
/* -- 全局样式 -- */